.editor-snapshots {
  border: 1px solid black;
  display: flex;
  overflow-x: auto;
}

.editor-snapshots__wrapper {
  display: flex;
  gap: 1rem;
}

.editor-snapshots__snaphost {
  border: 1px solid black;
}

.editor-snapshots__snaphost--selected {
  border-color: red;
}